#header {
    background-color: rgb(72, 146, 211);
    background-image: url(./img/pattern.png);
    background-size: 15%;

}

.logo {

    padding-top: 30px;
    margin-left: 20%;
    height: 42px;
    width: auto;
}

body {
    margin: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.subtitle {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#Autor {
    color: rgb(72, 146, 211)
}

main {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subphoto {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;

}

ul {
    padding-left: 16px;
}

thead {
    color: white;
    background-color: rgb(72, 146, 211);

}

.tbody {
    background-color: rgba(126, 190, 221, 0.733);

}

.thdata {
    table-layout: auto;
    padding-right: 200px;
    font-size: small;
    font-weight: bold;
}

.tdata {
    table-layout: auto;
    padding-right: 200px;
    padding-bottom: 20px;
    font-size: small;
}

.sottolineato {
    background-color: yellow;
}

footer {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#news {
    color: gray;
    font-weight: 200;
}

#monitor {
    background-image: url(./img/monitor.jpg);
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 15px;
}

#graph {
    background-image: url(./img/graph.jpg);
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 15px;
}

.overtext {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}