#header {
    background-color: rgb(72, 146, 211);
    background-image: url(./img/pattern.png);
    background-size: 15%;

}

.logo {

    padding-top: 30px;
    margin-left: 20%;
}

body {
    margin: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

#subtitle {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#Autor {
    color: rgb(72, 146, 211)
}

main {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subphoto {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;

}

ul{
    padding-left: 16px;
}

thead {
    color: white;
    background-color: rgb(72, 146, 211);


}

.tbody {
    background-color: rgba(126, 190, 221, 0.733);

}

.thdata {
    table-layout: fixed;
    padding-right: 200px;
    font-size: small;
    font-weight: bold;
    padding-bottom: 20px;
}
.tdata {
    table-layout: fixed;
    padding-right: 200px;
    padding-bottom: 20px;
    font-size: small;
}

.sottolineato {
    background-color: yellow;
}

footer {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caption {
    position: relative;
    overflow: hidden;

}

.overimg {
    position: absolute;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    float: left;
    padding: 10px;
    left: 0;
    top: 0;
}

#news {
    color: gray;
    font-weight: 200;
}